<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">I'm not just an architect; I'm a creative, positive force in the world of design. Beyond architecture, I'm deeply drawn to photography, painting, and gaming – all of which fuel my imaginative spirit. I thrive in collaborative environments, yet I'm equally adept at independent work. My experience spans working with international teams, bridging cultural differences effortlessly thanks to my fluency in different languages.</p>
                <a href="#" class="btn btn-default btn-xl">Let's talk!</a>
            </div>
        </div>
    </div>
</section>
